.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
}
h1 {
  margin: 2rem 0;
  font-family: "Montserrat";
  font-size: 3rem;
  color: white;
}
.form {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 29px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  grid-gap: 1.5rem;
}

.inputPassword {
  margin: 0 auto;
  background-color: black;
  opacity: 50%;
  color: white;
  margin-top: 10px;
  width: 300px;
  height: 59px;
  font-size: 22px;
  margin-bottom: 14px;
  max-width: 527px;
  padding: 0 10%;
}

.inputPasswordContainer {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.eyeIcon {
  position: absolute;
  top: 38%;
  right: 16%;
  
  
}
.eyeIcon:hover {
  opacity: 0.6;
  cursor: pointer;
  
}

.buttonForm {
  background: #ff0000;
  border-radius: 9px;
  margin: 0 auto;
  border: none;
  padding: 0.75rem 2rem;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "Montserrat";
}
.haveAccount {
  font-family: "Montserrat";
  margin: 1rem 0;
  color: white;
}
.register {
  border: none;
  border-bottom: 1px solid #ffd200 !important;
  background: none;
  font-weight: 400 !important;
  font-size: 1rem;
  color: #ffd200;
  cursor: pointer;
}
.logo{
  height: 7rem;
  margin: 0 auto;
}
